<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>实习秀播放|英腾世途管理后台</title>
<body>
<div style="width:100%;text-align:center">
	<video width="600" height="400" controls>
		<source src="Uploads/shixixiu/video/{$data}" type="video/mp4">
  <source src="Uploads/shixixiu/video/{$data}" type="video/ogg">
  <source src="Uploads/shixixiu/video/{$data}" type="video/webm">
  <object data="Uploads/shixixiu/video/{$data}" width="600"
						height="400">
    <embed src="Uploads/shixixiu/video/{$data}" width="600"
							height="400">
					</object>
		
	</video>
	</div>
</body>
</head>
</html>
