<extend name="Public/base" />
<block name="body">
<div class="main-title">
	<h2>路线管理</h2>
</div>

<div class="clearfix with-padding row">
	<div class="col-xs-10">
		<a class="btn" href="{:U('edit_road')}">新 增</a> <a class="btn ajax-post confirm" url="{:U('del_road')}" target-form="ids">删
			除</a>
		<!-- 高级搜索 -->
	</div>
	<div class="col-xs-2">
		<div class="search-form fr cf">
			<div class="sleft">
				<div class="input-group">
					<input type="text" name="start" class="form-control" value="{:I('"
						start"')}" placeholder="请输入起点"> <span
						class="input-group-btn"> <a class="btn btn-default"
						href="javascript:;" id="search" url="{:U('travel/road')}"><i
							class="icon-search"></i></a>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="with-padding">
	<table class="table table-bordered table-striped ">
		<thead>
			<tr>
			<tr>
				<th class="row-selected"><input class="checkbox check-all"
					type="checkbox"></th>
				<th>ID</th>
				<th>路线名称</th>
				<th>起点/终点</th>
				<th>行程描述</th>
				<th>状态</th>
				<th>添加时间</th>
				<th>操作</th>
			</tr>
			</tr>
		</thead>
		<tbody>
			<notempty name="list"> <volist name="list" id="travel">
			<tr>
				<td><input class="ids row-selected" type="checkbox" name="id[]"
					value="{$travel.id}"></td>
				<td>{$travel.id}</td>
				<td>{$travel.road_name}</td>
				<td>{$travel.start}->{$travel.end}</td>
				<td>{$travel.content}</td>
				<td>
				<if condition="$travel.status eq 0"><font color="red">禁用</font>
				<else/><font color="green">启用</font>
				</if>
				</td>
				<td>{$travel.add_time|time_format}</td>
				<td>
					<a href="{:U('edit_road?id='.$travel['id'])}" >修改</a>
					<if condition="$travel.status eq 0"><a class="confirm ajax-get" href="{:U('ok_road?status=1&id='.$travel['id'])}" >启用</a>
				<else/><a class="confirm ajax-get" href="{:U('ok_road?status=0&id='.$travel['id'])}" >禁用</a>
				</if>
				</td>
			</tr>
			</volist> <else />
			<td colspan="7" class="text-center">aOh! 暂时还没有内容!</td>
			</notempty>
		</tbody>
	</table>
	<div class="">{$_page}</div>
</div>


</block>

<block name="script"> <script type="text/javascript">
	$(function() {
		//搜索功能
		$("#search").click(
				function() {
					var url = $(this).attr('url');
					var query = $('.search-form').find('input').serialize();
					query = query.replace(
							/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
					query = query.replace(/^&/g, '');
					if (url.indexOf('?') > 0) {
						url += '&' + query;
					} else {
						url += '?' + query;
					}
					window.location.href = url;
				});
		//回车搜索
		$(".search-input").keyup(function(e) {
			if (e.keyCode === 13) {
				$("#search").click();
				return false;
			}
		});
	});
</script> </block>