<extend name="Public/base" />

<block name="body">
<style type="text/css">
#sub {
	width: 60px;
}
</style>
<div class="main-title">
	<h2>实习秀封面/视频编辑</h2>
</div>
<div class="with-padding">
	<form action="{:U(mediaDb)}" method="post"
		enctype="multipart/form-data" class="form-horizontal">
		<input type="hidden" value="{$id}" name="aid" />
		封面(仅限jpg,jpeg,png,gif)： <input type="file" name="pic" />
		<if condition="$data.pic neq null"> <img
			src="__PICURL__{$data.pic}" width="50%" /> </if>
		<br>
		<br>
		<br> 视频(mp4)：
		<input type="file" name="url" />
		<if condition="$data.pic neq null"> <video width="600"
			height="400" controls>
			<source src="__VIDEOURL__{$data.url}" type="video/mp4">
  <source src="__VIDEOURL__{$data.url}" type="video/ogg">
  <source src="__VIDEOURL__{$data.url}" type="video/webm">
  <object data="__VIDEOURL__{$data.url}" width="600" height="400">
    <embed src="__VIDEOURL__{$data.url}" width="600" height="400"></object>
		</video> 
		</if>
		<br>
		<br> <input type="submit" value="上传" id="sub" />
	</form>
</div>

</block>